# Plik: backend/requirements.txt
fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
alembic
pandas
celery[redis]
redis
python-dotenv
requests
beautifulsoup4
openpyxl
pydantic
uvicorn
python-multipart
curl_cffi # <-- DODAJ TĘ LINIĘ
selenium # <-- DODAJ TĘ LINIĘ
webdriver-manager # <-- DODAJ TĘ LINIĘ
selenium-wire